<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>All users</h2>
<div>
    <table>

        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getLastName()}">Surname</td>
            <td th:text="${user.getEmail()}">email</td>

            <td>
                <form th:action="@{users/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{users/delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{users/add}">
        <button type="submit">Add new user</button>
    </form>
</div>

</body>
</html>